*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    flex: 1 1 0%!important;
    width: 100%!important;
    padding: .7rem!important;
    font-size: .9rem;
    transition: all;
}

button{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: .5rem;
}